# Local Google Reviews proxy config
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
GOOGLE_PLACE_ID=your_google_place_id_here
GOOGLE_PLACE_URL=https://maps.app.goo.gl/o5QxVRtrizTHoHUq5
GOOGLE_REVIEWS_LIMIT=5
PORT=8080
